DB_NAME=sim_ide
DB_USER=k2wg7nk9yxpowy2xc6be
DB_PASSWORD=pscale_pw_KtzGzOrTrFnCtHVAaa7Tici38OYhq57I3aNCQraKMLf
DB_HOST=gcp.connect.psdb.cloud
DB_PORT=3306
MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt


APP_PORT=3001
SESS_SECRET=J334534NIKWIVPUNVBGWPEG324235G346536BU456UBU456PE4456WFG2456BU29EBFES


c8aMCcivkklJHqCs4FOL7g
dbkevindev